---
# DESCRIPTION: Github actions config
# This name is key to badges in README.rst, so we use the name build
# SPDX-License-Identifier: LGPL-3.0-only OR Artistic-2.0

name: build-test

on:
  push:
    branches-ignore:
      - 'dependabot/**'  # Avoid duplicates: only run the PR, not the push
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'  # weekly

permissions:
  contents: read

defaults:
  run:
    working-directory: repo

concurrency:
  # At most 1 job per branch. Auto cancel on pull requests and on all forks
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' || github.repository != 'verilator/verilator' }}

jobs:

  build-2204-gcc:
    name: Build | ${{ matrix.os }} | ${{ matrix.cc }}${{ matrix.asan && ' | asan' || '' }}
    uses: ./.github/workflows/reusable-build.yml
    with:
      sha: ${{ github.sha }}
      os: ${{ matrix.os }}
      os-name: linux
      cc: ${{ matrix.cc }}
      dev-asan: ${{ matrix.asan }}
      dev-gcov: 0
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: ubuntu-22.04, cc: gcc, asan: 0}

  test-2204-gcc:
    name: Test | ${{ matrix.os }} | ${{ matrix.cc }} | ${{ matrix.reloc && 'reloc | ' || '' }} ${{ matrix.suite }}
    needs: build-2204-gcc
    uses: ./.github/workflows/reusable-test.yml
    with:
      archive: ${{ needs.build-2204-gcc.outputs.archive }}
      os: ${{ matrix.os }}
      cc: ${{ matrix.cc }}
      reloc: ${{ matrix.reloc }}
      suite: ${{ matrix.suite }}
      dev-gcov: 0
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ubuntu 22.04 gcc
          - {os: ubuntu-22.04, cc: gcc, reloc: 0, suite: dist-vlt-0}

  passed:
    name: Test suite passed
    if: always()
    needs:
      - build-2204-gcc
      - test-2204-gcc

    runs-on: ubuntu-24.04

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
